#logo.resizeimage img { width: 25%; }
#kyotodaiSchool.resizeimage img { width: 100%; }

* {
  margin: 0;
  padding: 0;
  }
body {
  /*ページ全体の背景色*/
  background: #ffffff;
}

header {
  /*ヘッダーを固定*/
  position: fixed;
  width: 100%;
  height: 90px;
  background: #000000;
}

/*ナビメニュー*/
#nav{
  position: absolute;
  top: 0%;
  left: -20%;
  width: 10%;
  height: 20%;
  background: #f0f8ff;
  transition: .5s;
  z-index:2
}
#nav ul{
  padding-top: 10px;
  padding-left: 10px;
}
#nav ul li{
  list-style-type: none;
  font-size: 16px;
}
#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  transition: .5s;
}
#nav li a:hover{
  color: #000000;
  background: #cd5c5c;
  border-bottom: none;
}

/*ハンバーガメニュー*/
#hamburger{
    width: 40px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    display: block;
    transition: 0.7s;
    z-index:4

}

/*ハンバーガメニュー　装飾*/ 
.inner_line{
    display: block;
    width: 25px;
    height: 3px;
    background: #636363;
    transition: .7s;
    border-radius: 50px;
    position: absolute;
}

/*ハンバーガメニュー　位置*/ 
#line1{
  top: 0;
}
#line2{
  top: 10px;
}
#line3{
  top: 20px;
}

/*ハンバーガメニュー　動き*/ 
.in{
  transform: translateX(200%);
}
.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1{
  transform: translateY(340%)
  rotate(-45deg); 
}

.line_2{
  opacity: 0;
}
.line_3{
  /*45度回転させる*/
  transform: translateY(-340%)
  rotate(45deg);
}

@media screen and (max-width: 480px) {
  #nav ul li {
    font-size: 14px;
  }
  h1 {
    display: none;
  }
  h2 {
    display: block;
    font-size: 14px;
  }
}
