#logo.resizeimage img { width: 25%; }
#kyotodaiSchool.resizeimage img { width: 100%; }

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #313131;
    
}

h2{
    margin: 0;
    font-family: "メイリオ", sans-serif;
    line-height: 100vh;
}

/* header */
header {
    width: 100%;
    position: relative;
}

.pfix{
    width: 100%;
    position: fixed;
}
